header{
    text-align: center;
    color: lightblue;
}
section{
    text-align: center;
}
footer{
    text-align: center;
    color: lightblue;
}
#header{
    background-color: red;
}
#photo{
    text-align: center;
    background-color: green;
    color: black;
}
#alan{
    text-align: center;
    background-color: grey;
    color: black;
}
.toggle{
    background-color: #964B00;
}
nav a{
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: #9386A3;
}
nav a:hover {
    border-bottom: 2px cyan solid;
    font-size: 2em;
    transition: .9s;
}
.info{
    text-align: left;
    background-color: green;
    color: black;
    width: "30%";
}
td{
    padding-right: 10px;
    font-size: 1.3em;
}
th{
    padding-right: 10px;
    font-size: 1.5em;
}
#container{
    float: right;
    border-style: double;
    text-align: center;
    border-width: thick;
    border-color: cyan;
    border-radius: 12px;
    height: 600px;
    background-color: grey;
}
#container2{
    border-style: double;
    text-align: center;
    border-width: thick;
    border-color: cyan;
    border-radius: 12px;
    height: 600px;
    background-color: grey;
}
.heading{
    color: darkred;
}
.list{
    text-align: center;
    list-style-type: none;
}
#component{
    text-align: center;
    color: #1EE39E;
}
#instructions{
    border-style: double;
    text-align: center;
    border-width: thick;
    border-color: #1EE39E;
    border-radius: 20px;
    height: 400px;
}
#profile{
    border-style: solid;
    text-align: center;
    border-width: thick;
    border-color: black;
    border-radius: 20px;
    height: 300px;
}
.machines{
    border-style: solid;
    text-align: center;
    border-width: thick;
    border-color: darkred;
    border-radius: 20px;
    height: 400px;
}